.main {
  position: relative;
  margin: 0px;
  padding: 0px;
  align-self: stretch;
  height: calc(100vh - 70px);
  display: grid;
  grid-template-columns: 1fr 50% 1fr;
  gap: 1em;
}

.item{
  overflow-y: auto;
  height: 100%;
}

.postContainer{
  padding: 1em;
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-self: stretch;
}

.optionsContainer,.optionsFrends{
  display: auto;
  flex: 0 0 auto; 
}


@media screen and (max-width: 950px) {
  .main {
    grid-template-columns: 1fr;
  } 
  .optionsContainer,optionsFrends{
    display: none;
  }
}

