.bodyCard{
  align-self: stretch;
  padding: 1em;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.headerCard{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 1em;
}

.footerCard{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.cardPostContentImage{
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px !important;
  max-height: 400px;
}

.baseInfo{
  align-self: stretch;
  display: flex;
  justify-content: space-between;
  gap: 1em;
}