*{
  margin: 0;
  padding: 0;
}

:root {
  --persian-green-50: 240, 253, 251;
  --persian-green-100: 203, 252, 244;
  --persian-green-200: 151, 248, 233;
  --persian-green-300: 91, 237, 221;
  --persian-green-400: 42, 215, 202;
  --persian-green-500: 15, 169, 159;
  --persian-green-600: 10, 151, 144;
  --persian-green-700: 13, 120, 117;
  --persian-green-800: 15, 96, 94;
  --persian-green-900: 18, 79, 78;
  --persian-green-950: 3, 47, 48;
}